#dp{
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
    border-radius: 54%;
    display: inline-block;
    flex-shrink: 0;
    box-shadow: 0 0 0 1px grey;
    max-height: 25px;
    height: 25px;
    width: 25px
}

.headermain{
    background-color: blue;
    display: flex;
    align-items: center;
}

.home{
    background-color: yellow;
    width: 50vw;
}

.user{
    background-color: red;
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    height: 7vh;
}

.vspace{
    margin-left :5vw;
}

.username{
    margin-top: 20px;
    position: relative;
    top:1.5vh;
}




.dropdown-list{
    position: relative;
    top :13vh;
   color:red;
}

.button{
    background-color: red;
    position: absolute;
    bottom: 12vh;
    border: none;
    right: 1vw;
}

.button:hover{
    background-color: lightcoral;
}

